body{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  text-align: center;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

p{
    color: #8f8f8f;
}


   /* Headings */
.big-heading{
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

.Section-heading{
  font-size: 3rem;
  line height: 1.5;
}


   /* containers */
.container-fluid{
  padding: 7% 15% ;
}

   /* Sections */

.coloured-section{
    background-color: #ff4c68;
    color: #fff;
}

.white-section{
  background-color: #fff;
}

     /* Navigation bar */
.navbar{
  padding: 0 0 4.5rem;
}

.navbar-brand{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
}

.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-size: 1.2rem;
  font-family: 'Montserrat',sans-serif;
  font-weight: 300;
  color:#FFF0F5	;
}


    /* Title */
#title{
  margin: 0 0 10px;
  text-align: left;
}

#title .container-fluid{
  padding: 3% 15% 7% ;
}

.title-img{
width: 60%;
transform: rotate(25deg);
position: absolute;
right: 30%;
}

.image-title{
  position: relative;
}


    /* Icons */
.fa-4x{
  color: #ef8172;
  margin-top: 60px;
  line-height: 1.57;
}
.fa-solid:hover{
   color:#ff4c68 !important;
}


    /* Download Buttons */
.Download-Buttons{
   margin: 5% 3% 5% 0;
}


    /* Features */

.Features-text{
  color: #8f8f8f;
  width: 90%;
  padding-left: 20px;
}

.feature-title{
  font-size: 1.5rem;
}

#features{
  padding: 0 15%;
  position: relative;
  bottom: 10px;
}

.features{
  padding-left: 10px;
  padding-right: 31px;
  margin: 0;
}

.col-lg-4{
    margin: 0;
    padding: 0;
}


     /* testimonials */
#testimonials{
  background-color: #ef8172;
}

.testimonial-img{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.testimonial-text{
  font-size: 3rem;
  line height: 1.5;
}


   /* Press */
#press{
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-img{
  width: 15%;
  margin: 20px 20px 50px;
}


     /* Pricing Section */
#pricing{
  padding: 100px;
}

.price-text{
  font-size: 3rem;
  line height: 1.5;
}

.col-lg-4{
  padding: 3% 2%;
}


    /* Call to Action */

.cta-text{
  font-size: 3.5rem;
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

      /* Footer */
.footer-icons {
  color: black;
  padding: 7% 1% 1.5%;
}



@media (max-width: 992px) {

  .container-fluid{
    padding: 7% 5% ;
  }
  
p{
  font-size: 1.5rem;
}

  /* Title */
  #title{
    text-align: center;
    padding-top: 20px;
  }
  .title-img{
    position: static;
    transform: rotate(0);
  }
#title.container-fluid{
    padding: 3% 4% 7%;
  }
  
  /* Icons */
.fa-4x{
  font-size: 6rem;
}

.footer-icons{
  font-size: 1.5rem;
  padding-top: 20%;
}

/* Features */
.feature-title{
  font-size: 2.5rem;
}

.Features-text{
  font-size: 1.5rem;
  padding-left: 30px;
}

#features{
  padding: 0 0 20px;
  margin-bottom: 20px;
}

.features{
  padding: 0;
}

}

@media (min-width: 1100px) {
  .title-img{
    position: static;
  }
  html{
    font-size: 100%;
  }
}
